/* ====== VARIABLES ====== */
:root {
  --primary-clr: #8C82FC;
  --secondary-clr: #44E4C9;
  --accent-clr: #F7F7FD;
  --body-clr: #FFF;
  --section-clr: #F8F8FF;
  --text-clr: #3D3D3D;
  --text-light-clr: #BAB8D2;

  --ff-quicksand: 'Quicksand', sans-serif;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --header-height: 4.5rem;
}

/* ====== RESET ====== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-quicksand);
  font-weight: var(--fw-400);
  line-height: 1.5;
  background-color: var(--body-clr);
  color: var(--text-clr);
}

a {
  text-decoration: none;
  font-weight: var(--fw-500);
  color: inherit;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  font: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ====== BASE ====== */
.container {
  padding: 5rem 1.5rem;
}

.col {
  display: grid;
  gap: 3rem;
}

.btn {
  font-size: 1.125rem;
  font-weight: var(--fw-700);
  padding: .5rem 1.75rem;
  border-radius: .75rem;
  transition: transform .3s;
}

.btn:hover {
  transform: scale(.98);
}

.btn-primary {
  background-color: var(--primary-clr);
  color: var(--body-clr);
}

.btn-secondary {
  background-color: var(--secondary-clr);
  color: var(--body-clr);
}

.btn-alt {
  background-color: var(--accent-clr);
  color: #A2B3BF;
}

.cta-btn {
  display: grid;
  grid-template-columns: repeat(auto-fit, 160px);
  gap: .5rem 1rem;

}

.badge {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: var(--fw-500);
  text-transform: uppercase;
  letter-spacing: 3;
  color: var(--primary-clr);
  margin-bottom: .5rem;
}

.heading {
  font-size: 3rem;
  font-weight: var(--fw-700);
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

.sub-heading {
  font-size: 2rem;
  font-weight: var(--fw-600);
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

.small-heading {
  font-size: 1.25rem;
  font-weight: var(--fw-600);
  /* line-height: 1.2; */
  margin-bottom: .5rem;
}

.text {
  font-size: 1.125rem;
  margin-bottom: 2.5rem;
}

.card-container {
  display: grid;
  gap: 1.5rem;
}

.card {
  display: grid;
  gap: 2rem;
  background-color: var(--body-clr);
  padding: 2rem;
  border-radius: .75rem;
  transition: .3s;
}

/* ====== HEADER ====== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: var(--body-clr);
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: .5s ease-in-out;
  z-index: 10;
}

.header-active {
  height: 300px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: var(--fw-600);
}

.brand-logo {
  width: 1.5rem;
  margin-right: .5rem;
}

.bx-menu-alt-right,
.bx-x {
  font-size: 2rem;
  color: var(--primary-clr);
}

.nav-menu {
  position: absolute;
  top: var(--header-height);
  left: 0;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0;
  visibility: hidden;
  transition: .5s ease-in-out;
}

.header-active .nav-menu {
  opacity: 1;
  visibility: visible;
}

.nav-item,
.nav-action {
  margin: .75rem 0;
}

.nav-link {
  font-size: 1.125rem;
  font-weight: var(--fw-500);
}

.nav-link:is(:hover, :focus) {
  color: var(--primary-clr);
}

.nav-action {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

/* ====== HERO ====== */
.hero {
  padding-top: calc(var(--header-height) + 2.5rem);
  padding-bottom: 2.5rem;
}

.hero > .content-img {
  grid-row: 1;
}

/* ====== LEARNING ====== */
.learning {
  background-color: var(--section-clr);
}

.card-learning:is(:hover, :focus) {
  background-color: var(--primary-clr);
  color: var(--body-clr);
}

.card-img {
  width: 5rem;
}

/* ====== ABOUT ====== */
.about {
  gap: 1rem;
}

.about-img {
  border-radius: .75rem;
  overflow: hidden;
}

.offering-list {
  font-size: 1.125rem;
}

.offering-item {
  display: flex;
  align-items: center;
}

.offering-item:not(:last-child) {
  margin-bottom: 2rem;
}

.offering-item::before {
  content: url(images/check.svg);
  background-color: DDFFF9;
  width: 55px;
  height: 55px;
  padding: 1rem;
  border-radius: 100%;
  margin-right: 1.25rem;
}

/* ====== COMPANY ====== */
.companies {
  text-align: center;
  background-color: var(--section-clr);
  margin: auto;
}

.company-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.company-item {
  display: flex;
  align-items: center;
}

/* ====== TESTIMONIAL ====== */
.testimonial {
  display: grid;
  gap: 2.5rem;
}

.testimonial > .card-container {
  gap: 4rem;
}

.card-testimonial {
  position: relative;
  text-align: center;
  padding-top: 3rem;
  box-shadow: rgba(140, 130, 252, 0.25) 0px 3px 5px;
}

.profile-img {
  position: absolute;
  width: 5rem;
  border-radius: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  display: inline-block;
  color: #BAB8D2;
  margin-bottom: 1.25rem;
}

/* ====== CTA ====== */
.cta {
  background-color: var(--text-light-clr);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(images/background.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: var(--body-clr);
}

.cta .cta-btn {
  place-content: center;
}

/* ====== FOOTER ====== */
.footer {
  padding-bottom: 2.5rem;
}

.footer-menu {
  display: grid;
  gap: 1.5rem;
  font-size: 1.125rem;
}

.footer-info > .logo {
  margin-bottom: .75rem;
}

.footer-list:not(:last-child) {
  margin-bottom: .75rem;
}

.footer-list .bx {
  margin-right: .75rem;
}

.footer-link {
  color: var(--primary-clr);
}

.address {
  display: flex;
  align-items: center;
}

.copyright {
  text-align: center;
  margin-top: 2rem;
}