/*--------------------*\
  CUSTOM PROPERTY
\*--------------------*/
:root {
  --primary-clr: rgb(123, 111, 250);
  --secondary-clr: rgb(68, 228, 201);
  --tertiary-clr: rgb(247, 247, 253);
  --white-clr: rgb(255, 255, 255);
  --light-gray-clr: rgb(248, 248, 255);
  --gray-clr: rgb(186, 184, 210);
  --text-clr: rgb(61, 61, 61);

  --primary-hover: 0 5px 10px rgb(123, 111, 250, .25);
  --secondary-hover: 0 5px 10px rgb(68, 228, 201, .25);
  --tertiary-hover: 0 5px 10px rgb(247, 247, 253, .25);

  --ff-quicksand: 'Quicksand', sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}


/*--------------------*\
  RESET
\*--------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  font: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-family: var(--ff-quicksand);
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  font-weight: var(--fw-regular);
  line-height: 1.5;
  background-color: white;
  color: var(--text-clr);
  min-height: 200vh;
}

.nav-active {
  overflow: hidden;
}

.bx {
  pointer-events: none;
}


/*--------------------*\
  REUSED
\*--------------------*/
.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.btn {
  font-size: 1.25rem;
  font-weight: var(--fw-semi-bold);
  padding: .5rem 1.75rem;
  border-radius: .75rem;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  transition: .3s ease;
}

.btn-primary {
  background-color: var(--primary-clr);
  color: var(--white-clr);
}

.btn-primary:is(:hover, :focus-visible) {
  box-shadow: var(--primary-hover);
}

.btn-secondary {
  background-color: var(--secondary-clr);
  color: var(--white-clr);
}

.btn-secondary:is(:hover, :focus-visible) {
  box-shadow: var(--secondary-hover);
}

.btn-tertiary {
  background-color: var(--tertiary-clr);
  color: var(--gray-clr);
}

.btn-tertiary:is(:hover, :focus-visible) {
  box-shadow: var(--tertiary-hover);
}

.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.col-2 {
  display: grid;
  gap: 3rem;
}

.badge {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: var(--fw-medium);
  text-transform: uppercase;
  letter-spacing: .25rem;
  color: var(--primary-clr);
  margin-bottom: .75rem;
}

.title {
  font-size: 3rem;
  font-weight: var(--fw-bold);
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

.sub-title {
  font-size: 2rem;
  font-weight: var(--fw-semi-bold);
  text-transform: capitalize;
}

.small-title {
  font-size: 1.25rem;
  font-weight: var(--fw-semi-bold);
}

.text {
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

.action-btn {
  display: flex;
  flex-wrap: wrap;
  -webkit-gap: .75rem 1.25rem;
  -moz-gap: .75rem 1.25rem;
  -ms-gap: .75rem 1.25rem;
  gap: .75rem 1.25rem;
}

.w-100 {
  width: 100%;
}


/*--------------------*\
  HEADER
\*--------------------*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--white-clr);
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  z-index: 4;
}

.header.active {
  position: fixed;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  -webkit-animation: slideIn .5s ease forwards;
  animation: slideIn .5s ease forwards;
}

@-webkit-keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: var(--fw-semi-bold);
}

.logo img {
  margin-right: .5rem;
}

.navbar-toggle .bx {
  font-size: 2rem;
}

.navbar {
  position: fixed;
  top: 0;
  left: -350px;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
  height: 100vh;
  font-size: 1.25rem;
  font-weight: var(--fw-semi-bold);
  background-color: var(--light-gray-clr);
  padding: 1.5rem;
  z-index: 1;
  transition: .5s cubic-bezier(.05, .83, .52, .97);
  visibility: hidden;
}

.navbar.active {
  transform: translateX(350px);
  transition-duration: .5s;
  visibility: visible;
}

.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-list {
  margin-top: 3rem;
}

.navbar-item {
  margin: 1rem 0;
}

.navbar-link {
  position: relative;
  display: inline-block;
  transition: .3s ease;
}

.navbar-link::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -10px;
  width: 5px;
  height: 20px;
  background-color: var(--primary-clr);
  border-radius: 5px;
  transform: translateY(-50%);
  opacity: 0;
  transition: .3s ease;
}

.navbar-link:is(:hover, :focus-visible, .active)::before {
  opacity: 1;
}

.navbar-link:is(:hover, :focus-visible, .active) {
  transform: translateX(10px);
}

.navbar-action {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  padding-top: 1.5rem;
  border-top: 1px solid var(--gray-clr);
}

.login-btn {
  color: var(--primary-clr);
  transition: opacity .3s ease;
}

.login-btn:is(:hover, :focus-visible) {
  opacity: .8;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--gray-clr);
  opacity: 0;
  visibility: hidden;
  transition: .3s ease;
}

.overlay.active {
  visibility: visible;
  opacity: .5;
}




/*--------------------*\
  HERO
\*--------------------*/
.hero .section-img {
  grid-row: 1;
}



/*--------------------*\
  LEARNING
\*--------------------*/





/*--------------------*\
  ABOUT US
\*--------------------*/
.about {
  row-gap: 0;
}




/*--------------------*\
  COMPANIES
\*--------------------*/





/*--------------------*\
  TESTIMONIAL
\*--------------------*/





/*--------------------*\
  CTA
\*--------------------*/





/*--------------------*\
  COMPANIES
\*--------------------*/





/*--------------------*\
  FOOTER
\*--------------------*/
